* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

/* section:hero-container */
.hero-container {
    height: 800px;
    background: url(./hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.center-image {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}

.logo-img {
    margin: auto;
}

.hero {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.hero h2 {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    color: #514949;
    margin-bottom: 36px;
}

.hero p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
    font-weight: 500;
    margin-bottom: 1rem;
}

.hero-link {
    color: #E7332B;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

.btn-div {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 92px;
}

.d-block {
    display: block!important;
}

.my-btn {
    padding: 11px 28px;
    border: 1px solid #E7332B;
}

.btn-red {
    background-color: #E7332B;
    color: #fff;
    font-weight: 500;
    margin-right: 24px;
}

.btn-red:focus {
    border: 2px solid #212529;
    border-radius: 5px;
}

.btn-red:hover {
    background-color: #fff;
    color: #E7332B;
}

.btn-red-outline {
    background-color: #fff;
    color: #E7332B;
    font-weight: 500;
}

.btn-red-outline:focus {
    border: 2px solid #212529;
    border-radius: 5px;
}

.btn-red-outline:hover {
    background-color: #E7332B;
    color: #fff;
}

/* section:programs */
.programs {
    background-color: #fff;
    overflow: hidden;
}

.container-fluid {
    max-width: 1440px !important;
    margin: 0 auto;
}

.text-center {
    text-align: center!important;
}

.program-content .heading {
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.program-content p.slogan {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
}

.my-container {
    max-width: 1240px !important;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-4 {
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
}

.program-card-zed {
    position: relative;
    z-index: 1;
}

.program-card {
    width: 100%;
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
}

.text-left {
    text-align: left!important;
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important;
}

.m-4 {
    margin: 1.5rem!important;
}

.program-card img {
    margin-bottom: 48px;
}

img.card-bg-svg-1 {
    width: 100%;
    position: absolute;
    left: -120px;
    top: -75px;
    z-index: -1;
}

.d-none {
    display: none!important;
}

.program-card p {
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
    margin-top: 0;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.program-card h3 a {
    font-size: 16px;
    line-height: 24px;
    color: #E7332B;
    text-decoration: none;
    opacity: 0.9;
}

/* section:footer */
.footer {
    margin-top: 215px;
}

.footer-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    text-align: left;
    padding: 20px;
}

.text-md-left {
    text-align: left!important;
}

.footer h3 {
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    color: #514949;
    font-family: inherit;
}

.address p {
    font-size: 16px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: #E7332B;
    font-weight: 500;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.contact-icons img {
    width: 18px !important;
    margin-right: 5px;
}

.m-3 {
    margin: 1rem!important;
}

footer hr {
    opacity: 0.2;
    border: 0.7px solid #514949;
}

.copyright p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}



@media (max-width: 1000px) {
    .row {
        display: grid;
    }
}


@media (max-width: 768px) {
    .hero-container {
        height: auto;
    }

    .btn-div {
        display: grid;
        margin-left: 8%;
        margin-bottom: 50px;
    }

    button.my-btn {
        display: block;
        margin: auto;
        justify-content: center;
    }

    .footer-flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        width: 150px;
        margin-bottom: 15px;
    }

    .text-md-left {
        text-align: center!important;
    }

    .footer-flex-container h3 {
        font-size: 24px;
        margin-top: 20px;
    }
}