* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Graphik!important;
}

.header  {
    color: rgb(0, 0, 0);
    width: 100%; 
    height: 90px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 2% 5%;
}

.navbar {
    margin: auto;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.nav-links {
    color: #FFFFFF;
}

.nav-button,
.nav-button1 {
    background: #e7332b;
    border-radius: 0px 0px 7px;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.talents {
    display: flex;
    margin-top: 15%;
    padding: 0 5%;
    overflow: hidden;

}

.talent-left {
    padding-right: 22%;
    margin-top: 8%;
    margin-left: 4%;
}

.talent-intro-heading {
    color: #161617;
    font-family: Graphik;
    font-style: normal;
    font-weight: 800!important;
    font-size: 35px;
    line-height: 42px;
}

.talent-intro-para {
    padding-top: 15px;
    text-align: left;
    color: #787878;
    font-size: 19px;
}

.talent-btn {
    margin-top: 40px;
    display: flex;
}

.nav-button1 {
    background: #787878;
    border-radius: 0px 0px 7px;
    padding: 10px 20px;
}

.line1 {
    margin-left: 380px;
    margin-top: -7.5px;
}

.talent-right {
    width: 100%;
}

.image-first {
    width: 100%;
}

.image1 {
    width: 80%!important;
}

.line2 {
    margin-top: -180px;
    position: absolute!important;
    right: 5%;
}

.liness {
    width: 138px;
}

.section-2 {
    margin-top: 100px;
    background: url(./bgsection2.063bd869082548bafa74.png)!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    display: flex;
    padding: 5%;
}

.country-icons {
    display: flex;
    padding-top: 19px;
}

.countries {
    margin: 10% 0;
}

.country {
    background-color: #fff!important;
    border-radius: 8px!important;
    display: flex;
    margin-right: 16px;
    padding: 7px!important;
    width: 55px;
}

.head-image {
    display: flex!important;
    justify-content: flex-end!important;
}

.image2 {
    width: 70%!important;
}

.section-3 {
    padding: 5%;
    background-color: #FFFFFF;
}

.flex1 {
    display: flex;
    margin-top: -10%;
}

.talents {
    padding: 0 2%;
}

.talent {
    align-items: center;
    background: #fff!important;
    border-radius: 8px!important;
    box-shadow: 0 8px 30px hsla(0,0%,48%,.16)!important;
    color: #787878!important;
    padding: 10px 24px;
    /* display: flex; */
    font-family: Graphik!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 30px!important;
    text-align: center;
    transition: transform .3s ease,
    -webkit-transform .3s ease!important;
}

.talents:hover {
    transform: translateY(-10px);
}

.line3 {
    margin-top: 13%;
    width: 10px;
    margin-right: 10%;
}

.lines {
    width: 200px;
}

.section-4 {
    background-color: rgb(255, 248, 229);
    padding-top: 80px;
    padding: 7% 5%;
}

.talents-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
}

.people {
    margin: 5%;
    padding: 10% 7%;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 8px;
}

.people:hover {
    background-color: #161617;
}

.section-detail4 {
    font-family: Graphik!important;
    font-size: 17px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 22px!important;
    width: 85%!important;
    margin: auto!important;
    color: #787878;
}

.section-detail4:hover {
    color: #FFFFFF;
}

.peoples {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
}

.talent-btns {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: rgb(22, 22, 23);
    padding-top: 80px;
    padding: 3%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex!important;
    justify-content: center!important;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-texts,
.footer-texted {
    color: #fff!important;
    font-family: Graphik!important;
    font-size: 16px!important;
    font-style: normal!important;
    font-weight: 400!important;
    letter-spacing: .01em!important;
    line-height: 140%!important;
}

.footer-texted {
    text-align: center;
    margin-top: 2%;
}

.css-39bbo6 {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    display: none;
    padding-top: 20px;
    border-color: gray;
}

.foot-link {
    display: flex;
    justify-content: flex-end;
    margin-top: -1%;
}

.footer-texted {
    display: none;
}

@media (max-width: 1115px) {
    .talents {
        display: grid;
    }
    .talent-left {
        margin: 5% auto;
        justify-content: center;
        text-align: center;
        padding-right: 0%;
    }
    .talent-intro-para {
        text-align: center;
        margin: 0 18%;
        justify-content: center;
    }
    .talent-btn {
        margin: 3% 0%;
        justify-content: center;
        margin-left: 8%;
    }
    .talent-btn2 {
        margin-left: -3%;
    }
    .image-first {
        margin:0 25%;
        justify-content: center;
        width: 80%;
    }
    .image1 {
        width: 70%!important;
    }
    .line2 {
        right: 14%;
    }
    .liness {
        width: 150px;
    }
    .line3 {
        display: none;
    }
}

@media (max-width: 900px) {
    .header {
        padding: 3% 2%;
    }
    .nav-image {
        width: 20px;
    }
    .nav-button,
    .nav-button1 {
        padding: 8px 15px;
    }
    .talent-btn {
        margin-top: 10%;
    }
    .d-none {
        display: none;
    }
    .section-2 {
        display: grid;
    }
    .countries {
        text-align: center;
    }
    .country-icons {
        margin: 0 auto;
        justify-content: center;
    }
    .head-image {
        margin-right: 20%;
    }
}

@media (max-width: 700px) {
     .people {
        margin: 2%;
    }
    .peoples {
        margin-top: -13%;
        padding: 13% 9%;
    }
    .flex1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
    }
}

@media (max-width: 600px) {
    .talent-intro {
        margin-top: 7%;
    }
    .talent-intro-heading {
        font-size: 30px;
    }
    .line1 {
        margin-left: 270px;
    }
    .talent-intro-para {
        font-size: 16px;
    }
    .talents-flex {
        display: flex;
        flex-wrap: wrap;
        padding: 0 9%;
    }
    .peoples {
        display: flex;
        flex-wrap: wrap;
    }
    .talent-btns{
        margin-left: 10%;
    }
    .section-4 {
        margin-top: 8%;
    }
}

@media (max-width: 650px) {
    .footer-flex{
        display: grid;
        justify-content: center;
        padding: 1%;
    }
    .foot {
        display: none;
    }
    .footer-icons {
        padding-top: 5%;
    }
    .foot-link {
        margin-right: auto;
        margin-left: auto;
    }
    .css-39bbo6  {
        display: block;
    }
    .footer-texted {
        display: block;
    }
}

@media (max-width: 500px) {
    .line1 {
        margin-left: 90px;
    }
    .countries {
        padding: 0 8%;
    }
    .talent-intro-heading {
        font-size: 25px;
    }
    .country-icons {
        padding: 3% 4%;
    }
}
